@import 'flexfix';
@import 'navbar';

-webkit-scrollbar {
    display: none;
}

body{
	display: flex;
	font-family: sans-serif;
	flex-wrap: wrap;
}

.hero{
	background-image: url(hero-small.jpg);
	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover;
  	height: 100vh;
  	width: 100vw;
  	@media only screen and (min-width: 800px) {
  		background-image: url(hero.jpg);

  	}

}




